*.sql working-tree-encoding=cp1251 eol=crlf
*.pck working-tree-encoding=cp1251 eol=crlf
*.prc working-tree-encoding=cp1251 eol=crlf

*.sql linguist-language=sql
*.pck linguist-language=plsql
*.prc linguist-language=plsql
