<?xml version="1.0"?>
<CITK.P8Panels>
    <MenuItems>
        <App name="ProjectPlanning">
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" separator="true"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" name="ShowPrjPanelsRoot" caption="Панели мониторинга" url="Modules/p8-panels/"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" separator="true"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" name="ShowPrjPanelFin" caption="Экономика проектов" panelName="PrjFin"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" name="ShowPrjPanelJob" caption="Работы проектов" panelName="PrjJobs"/>
			<MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" name="ShowPrjPanelGraph" caption="Графики проектов" panelName="PrjGraph"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" name="ShowPrjPanelHelp" caption="Инструкции ПУП" panelName="PrjHelp"/>
        </App>
		<App name="EquipSrv">
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" separator="true"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" name="ShowEqsPanelsRoot" caption="Панели мониторинга" url="Modules/p8-panels/"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" separator="true"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" name="ShowEqsPrfrm" caption="Выполнение работ по ТОиР" panelName="EqsPrfrm"/>            
        </App>		
		<App name="MechanicalRecords">
			<MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" separator="true"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" name="ShowMechRecPanelsRoot" caption="Панели мониторинга" url="Modules/P8-Panels/"/>
			<MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" separator="true"/>
			<MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" name="ShowMechRecPanelCostProdPlans" caption="Производственная программа" panelName="MechRecCostProdPlans"/>
		</App>
    </MenuItems>
    <Panels urlBase="Modules/p8-panels/#/">	    
        <Panel 
                name="PrjFin"
                group="Планирование и учёт в проектах"
                caption="Экономика проектов"
                desc="Мониторинг калькуляции проекта, графиков финансирования, договоров с поставщиками материалов и ПКИ"
                url="prj_fin"
                path="prj_fin"
                icon="bar_chart"
                showInPanelsList="true"
                preview="./img/prj_fin.png"/>
        <Panel
                name="PrjJobs" 
                group="Планирование и учёт в проектах"
                caption="Работы проектов"
                desc="Управление и контроль сроков выполнения собственных работ по проектам" 
                url="prj_jobs" 
                path="prj_jobs" 
                icon="engineering" 
                showInPanelsList="true" 
                preview="./img/prj_jobs.jpg"/>
        <Panel
                name="PrjGraph" 
                group="Планирование и учёт в проектах"
                caption="Графики проектов"
                desc="Сводный график выполнения активных проектов компании" 
                url="prj_graph" 
                path="prj_graph" 
                icon="insights" 
                showInPanelsList="true" 
                preview="./img/prj_graph.jpg"/>        
		<Panel
                name="PrjHelp"
                group="Планирование и учёт в проектах"
                caption="Инструкции ПУП"
                desc="Краткое описание работы с макетом &quot;Управление экономикой проектов&quot;" 
                url="prj_help" 
                path="prj_help" 
                icon="help_outline" 
                showInPanelsList="true" 
                preview="./img/prj_help.jpg"/>
        <Panel
                name="EqsPrfrm"
                group="Управление техническим обслуживанием и ремонтами"
                caption="Выполнение работ по ТОиР"
                desc="Визуализация запланированных и выполненных работ по ТОиР предприятия (подразделения) по месяцам и дням года"
                url="eqs_prfrm" 
                path="eqs_prfrm" 
                icon="build" 
                showInPanelsList="true" 
                preview="./img/eqs_prfrm.jpg"/>    
        <Panel
                name="MechRecCostProdPlans"
                group="Планирование и учёт в дискретном производстве"
                caption="Производственная программа"
                desc="Контроль исполнения производственной программы по срокам и количеству запуска и выпуска ДСЕ" 
                url="mech_rec_cost_prod_plans" 
                path="mech_rec_cost_prod_plans" 
                icon="calendar_month" 
                showInPanelsList="true" 
                preview="./img/default_preview.png"/>    
		<Panel
                name="Samples"
                group=""
                caption="Примеры для разработчиков"
                desc="Примеры из README.md" 
                url="samples" 
                path="samples" 
                icon="javascript" 
                showInPanelsList="false" 
                preview="./img/default_preview.png"/>
    </Panels>			   
</CITK.P8Panels>
