<?xml version="1.0"?>
<CITK.P8Panels>
    <MenuItems>
        <App name="ProjectPlanning">
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" separator="true"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" name="ShowPrjPanelsRoot" caption="Панели мониторинга" url="Modules/p8-panels/"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" separator="true"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" name="ShowPrjPanelFin" caption="Экономика проектов" panelName="PrjFin"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" name="ShowPrjPanelJob" caption="Работы проектов" panelName="PrjJobs"/>
            <MenuItem parent="{BA073333-DFBC-4BA3-8EA7-172F3F6B4FEE}" name="ShowPrjPanelHelp" caption="Инструкции ПУП" panelName="PrjHelp"/>
        </App>
    </MenuItems>
    <Panels urlBase="Modules/p8-panels/#/">	    
        <Panel 
                name="PrjFin"
                group="Планирование и учёт в проектах"
                caption="Экономика проектов"
                desc="Мониторинг калькуляции проекта, графиков финансирования, договоров с поставщиками материалов и ПКИ"
                url="prj_fin"
                path="prj_fin"
                icon="bar_chart"
                showInPanelsList="true"
                preview="./img/prj_fin.png"/>
        <Panel
                name="PrjJobs" 
                group="Планирование и учёт в проектах"
                caption="Работы проектов"
                desc="Управление и контроль сроков выполнения собственных работ по проектам" 
                url="prj_jobs" 
                path="prj_jobs" 
                icon="engineering" 
                showInPanelsList="true" 
                preview="./img/prj_jobs.jpg"/>
        <Panel
                name="PrjHelp"
                group="Планирование и учёт в проектах"
                caption="Инструкции ПУП"
                desc="Краткое описание работы с макетом &quot;Управление экономикой проектов&quot;" 
                url="prj_help" 
                path="prj_help" 
                icon="help_outline" 
                showInPanelsList="true" 
                preview="./img/prj_help.jpg"/>
        <Panel
                name="Samples"
                group=""
                caption="Примеры для разработчиков"
                desc="Примеры из README.md" 
                url="samples" 
                path="samples" 
                icon="javascript" 
                showInPanelsList="false" 
                preview="./img/default_preview.png"/>
    </Panels>			   
</CITK.P8Panels>
